.container {
	width:960px;
	margin:auto;
	margin-top:58px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 58px;
    width: 100%;
    z-index: 2;
    font: 22px Georgia, serif;
    color: #000;
    background: #cd301f
}
#banner {
    position: absolute;
    left: 40%;
    width: 20%;
    height: 100%;
    display: table;
    font-size: 150%;
    -webkit-box-shadow: 1px 1px 17px rgba(50, 50, 50, .5);
    -moz-box-shadow: 1px 1px 17px rgba(50, 50, 50, .5);
    box-shadow: 1px 1px 17px rgba(50, 50, 50, .5)
}
#about {
    position: absolute;
    left: 1.5%;
    width: 15%;
    height: 100%;
    display: table;
    min-width: 75px;
    -webkit-box-shadow: 1px 1px 17px rgba(50, 50, 50, .5);
    -moz-box-shadow: 1px 1px 17px rgba(50, 50, 50, .5);
    box-shadow: 1px 1px 17px rgba(50, 50, 50, .5)
}
#projects {
    position: absolute;
    left: 82%;
    width: 8%;
    height: 100%;
    display: table;
    min-width: 75px;
    -webkit-box-shadow: -1px 1px 17px rgba(50, 50, 50, .5);
    -moz-box-shadow: -1px 1px 17px rgba(50, 50, 50, .5);
    box-shadow: -1px 1px 17px rgba(50, 50, 50, .5)
}
#articles {
    position: absolute;
    left: 92%;
    width: 8%;
    height: 100%;
    display: table;
    -webkit-box-shadow: -1px 1px 17px rgba(50, 50, 50, .5);
    -moz-box-shadow: -1px 1px 17px rgba(50, 50, 50, .5);
    box-shadow: -1px 1px 17px rgba(50, 50, 50, .5)
}
#header>a {
    line-height: 58px;
    text-align: center;
    text-decoration: none;
    color: #000;
    cursor: pointer
}

