<script src='/js/cms.js'></script>
</br>
</br>
<div id='holder'>
 TITLE:<input id='title'></input>	
</br>
</br>
 <textarea id='content'></textarea>	
 <select id ='type' name='list'>
  <option>p</option>
  <option>a</option>
</select>
<button id='add'>Add to post </button>
</br>
</br>
<button id='submit'>Submit Post</button>
</div>