<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

  <title></title>
</head>
<body>
    <div class='header' id='header'>
        <a id='articles' href='/list'>
          Articles
        </a>  
        <a id='banner' href='/'>
            SHIDEL
        </a>
     
        <a id="cms" href='/new'>
            cms
        </a>
    </div>  
    <div class='container'>
      
  <%= yield %>
    </div>
     <script type="text/template" class="template">
          <h1><%%=res.title%></h1>
          <%% for(var i = 0; i < (_.size(res) - 1); i++){ %>

          <<%%-res[i].tag%>><%%=res[i].content%></<%%-res[i].tag%>> 
          <%% }%> 
    </script>
</body>
</html>
